*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
  background-color: rgb(197, 249, 197);
}

.container{
  width: 85vw;
  margin: 0 auto;
  padding-top: 30px;
}

/* Form */

form{
  margin-bottom: 20px;
}

input[type="text"]{
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
}

/* allBtn */

.allBtn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.allBtn .left{
  display: flex;
  gap: 30px;
}

.allBtn button{
  background-color: rgb(81, 227, 81);
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}


/* Fetch All Countries */

.fetchCountries{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.country{
  background-color: rgb(151, 250, 151);
  padding: 5px 10px;
}

/* loading */

.loading{
  font-size: 50px;
  text-align: center;
  color: black;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: green;
  color: #eee;
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}